body {
  background-image: url("image-1.png");

  margin: 0;
  text-align: center;
  background-color: #e2e8ff;
  font-family: 'Kirang Haerang', Merriweather, sans-serif;

}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 5%;
}

h3 {
  color: red;
}

img {
  height: 250px;
}

h1 {
  color: #2f4f4f;
  text-align: center;
}
